.questionss2-child {
  position: absolute;
  height: 6.22%;
  width: 90.89%;
  top: 4.95%;
  right: 4.6%;
  bottom: 88.84%;
  left: 4.51%;
  border-radius: var(--br-xl);
  background-color: var(--color-lightgoldenrodyellow-100);
}
.how-concerned-are {
  position: absolute;
  top: 6.25%;
  left: 10.04%;
  font-weight: 700;
}
.questionss2-item {
  position: absolute;
  height: 6.22%;
  width: 90.89%;
  top: 12.61%;
  right: 4.64%;
  bottom: 81.17%;
  left: 4.47%;
  border-radius: var(--br-xl);
  background-color: var(--color-lightgoldenrodyellow-100);
}
.have-you-felt3 {
  position: absolute;
  top: 13.75%;
  left: 10.04%;
  font-weight: 700;
}
.questionss2-child1,
.questionss2-child2,
.questionss2-child3,
.questionss2-inner {
  position: absolute;
  height: 6.22%;
  width: 90.89%;
  top: 20.31%;
  right: 4.6%;
  bottom: 73.48%;
  left: 4.51%;
  border-radius: var(--br-xl);
  background-color: var(--color-lightgoldenrodyellow-100);
}
.questionss2-child1,
.questionss2-child2,
.questionss2-child3 {
  top: 27.95%;
  right: 4.64%;
  bottom: 65.83%;
  left: 4.47%;
}
.questionss2-child2,
.questionss2-child3 {
  top: 35.63%;
  bottom: 58.16%;
}
.questionss2-child3 {
  top: 43.3%;
  bottom: 50.49%;
}
.do-you-experience1 {
  position: absolute;
  top: 44.32%;
  left: 10.77%;
  font-weight: 700;
}
.questionss2-child4,
.questionss2-child5,
.questionss2-child6,
.questionss2-child7,
.questionss2-child8,
.questionss2-child9 {
  position: absolute;
  height: 6.22%;
  width: 90.89%;
  top: 50.97%;
  right: 4.64%;
  bottom: 42.82%;
  left: 4.47%;
  border-radius: var(--br-xl);
  background-color: var(--color-lightgoldenrodyellow-100);
}
.questionss2-child5,
.questionss2-child6,
.questionss2-child7,
.questionss2-child8,
.questionss2-child9 {
  top: 58.64%;
  bottom: 35.15%;
}
.questionss2-child6,
.questionss2-child7,
.questionss2-child8,
.questionss2-child9 {
  top: 66.31%;
  bottom: 27.48%;
}
.questionss2-child7,
.questionss2-child8,
.questionss2-child9 {
  top: 73.98%;
  bottom: 19.81%;
}
.questionss2-child8,
.questionss2-child9 {
  top: 81.65%;
  bottom: 12.14%;
}
.questionss2-child9 {
  top: 89.32%;
  bottom: 4.47%;
}
.do-you-fear {
  position: absolute;
  top: 21.7%;
  left: 10.4%;
  font-weight: 700;
}
.frame-child48,
.frame-child49 {
  position: absolute;
  border-radius: 50%;
}
.frame-child48 {
  cursor: pointer;
  margin: 0;
  top: 8px;
  left: 21px;
  background-color: var(--color-gainsboro);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.frame-child49 {
  top: 13px;
  left: 26px;
  background-color: var(--color-gray);
  width: 10px;
  height: 10px;
  display: none;
}
.yes13 {
  position: absolute;
  top: 9px;
  left: 47px;
  font-weight: 700;
}
.component-11-child,
.component-11-inner,
.ellipse-parent23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 93px;
  height: 36px;
  overflow: hidden;
}
.component-11-child,
.component-11-inner {
  height: 43.97%;
  width: 98.94%;
  right: 1.06%;
  bottom: 56.03%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.component-11-child {
  top: 56.19%;
  right: 0;
  bottom: -0.16%;
  left: 1.06%;
}
.component-11,
.component-12,
.component-13 {
  position: absolute;
  height: 3.49%;
  width: 7.74%;
  top: 7.68%;
  right: 83.25%;
  bottom: 88.84%;
  left: 9.01%;
}
.component-12,
.component-13 {
  top: 14.72%;
  right: 82.86%;
  bottom: 81.8%;
  left: 9.4%;
}
.component-13 {
  top: 22.5%;
  right: 82.68%;
  bottom: 74.01%;
  left: 9.58%;
}
.frame-child60 {
  position: absolute;
  top: 8px;
  left: 21px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.component-14,
.component-15,
.component-17,
.component-18 {
  position: absolute;
  height: 3.49%;
  width: 7.74%;
  top: 38.01%;
  right: 82.14%;
  bottom: 58.5%;
  left: 10.13%;
}
.component-14,
.component-17,
.component-18 {
  top: 45.74%;
  right: 81.77%;
  bottom: 50.77%;
  left: 10.49%;
}
.component-14,
.component-18 {
  top: 53.01%;
  right: 81.59%;
  bottom: 43.5%;
  left: 10.68%;
}
.component-14 {
  top: 30.23%;
  right: 82.5%;
  bottom: 66.28%;
  left: 9.76%;
}
.do-you-struggle2,
.have-you-ever,
.have-you-experienced2 {
  position: absolute;
  top: 29.43%;
  left: 11.13%;
  font-weight: 700;
}
.do-you-struggle2,
.have-you-experienced2 {
  top: 37.05%;
}
.have-you-experienced2 {
  top: 52.05%;
  left: 10.22%;
}
.component-19 {
  position: absolute;
  height: 3.49%;
  width: 7.74%;
  top: 60.63%;
  right: 81.41%;
  bottom: 35.89%;
  left: 10.86%;
}
.component-20,
.component-21,
.component-22,
.component-23 {
  position: absolute;
  height: 3.49%;
  width: 7.74%;
  top: 68.35%;
  right: 81.22%;
  bottom: 28.16%;
  left: 11.04%;
}
.component-21,
.component-22,
.component-23 {
  top: 76.08%;
  right: 80.68%;
  bottom: 20.43%;
  left: 11.59%;
}
.component-22,
.component-23 {
  top: 84.03%;
  right: 80.13%;
  bottom: 12.48%;
  left: 12.14%;
}
.component-23 {
  top: 91.42%;
  bottom: 5.09%;
}
.do-you-find1 {
  position: absolute;
  top: 59.89%;
  left: 10.22%;
  font-weight: 700;
}
.do-you-feel,
.have-you-experienced3 {
  position: absolute;
  top: 67.61%;
  left: 10.4%;
  font-weight: 700;
}
.do-you-feel {
  top: 75.34%;
  left: 10.58%;
}
.are-you-attentive,
.how-often-do1 {
  position: absolute;
  top: 83.07%;
  left: 10.4%;
  font-weight: 700;
}
.how-often-do1 {
  top: 90.8%;
  left: 9.85%;
}
.submit2 {
  position: absolute;
  top: 14px;
  left: 57px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightpink);
  position: absolute;
  height: 2.95%;
  width: 18.25%;
  top: 96.31%;
  right: 42.15%;
  bottom: 0.74%;
  left: 39.6%;
  border-radius: var(--br-81xl);
  overflow: hidden;
  mix-blend-mode: normal;
}
.questionss2 {
  width: 100%;
  height: 1760px;
  position: relative;
  overflow: hidden;
  background-image: url(./public/chakras.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
