
.main-page-child {
  position: absolute;
  top: 57px;
  left: 28px;
  border-radius: var(--br-81xl) 0 var(--br-81xl) 0;
  background-color: #b8a7c6;
  width: 966px;
  height: 357px;
}
.welcome-to-chakra {
  position: absolute;
  top: 100px;
  left: 68px;
  display: inline-block;
  width: 662px;
  height: 123px;
}
.chakra-points-of-body-scaled-e-icon {
  position: absolute;
  top: 414px;
  left: 28px;
  width: 966px;
  height: 595px;
  object-fit: cover;
}
.the-chakras-radiate {
  position: absolute;
  top: 1026px;
  left: 54px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  display: inline-block;
  width: 877px;
  height: 301px;
}
.button,
.submit {
  position: absolute;
}
.submit {
  top: 14px;
  left: 57px;
  font-size: 36px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightpink);
  top: 1284px;
  left: 340px;
  border-radius: var(--br-81xl);
  width: 305px;
  height: 85px;
  overflow: hidden;
  mix-blend-mode: normal;
}
.main-page {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1709px;
  overflow: hidden;
  text-align: left;
  font-size: 64px;
  color: #15654d;
  font-family: var(--font-inika);
  max-width: 960px;
  margin: auto;
  background-color: chocolate;
}
