.submit3 {
  position: absolute;
  top: 14px;
  left: 57px;
}
.property-1active,
.property-1inactive {
  position: absolute;
  left: 94px;
  border-radius: var(--br-81xl);
  width: 198px;
  height: 57px;
  overflow: hidden;
  mix-blend-mode: normal;
}
.property-1inactive {
  top: 35px;
  background-color: var(--color-lightpink);
}
.property-1active {
  top: 158px;
  background-color: #c44141;
}
.button3 {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 430px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
