<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/styles/global.css"/>
    <link rel="stylesheet" href="/static/styles/index.css"/>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inika:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,700;1,700;1,800&display=swap"
    />
  </head>
  <body bgcolor="chocolate">
    <div class="main-page">
      <div class="main-page-child"></div>
      <div class="welcome-to-chakra">WELCOME TO CHAKRA ANALYZER</div>
      <img
        class="chakra-points-of-body-scaled-e-icon"
        alt=""
        src="/static/images/chakra.jpg"
      />

      <div class="the-chakras-radiate">
        The chakras radiate a specific colour and energy. Each one coincides
        with a gland in the physical body. Since each chakra relates to specific
        spiritual, emotional, psychological, and physical aspects of our being,
        it is believed that their blockage or malfunction can lead to physical,
        psychological, and emotional disorders. The conscious awareness and
        balancing of these energy centers, on the other hand, is believed to
        lead to well-being and good health.  
      </div>
      <a href="/questionss1">
      <button class="button" autofocus="{true}">
        <b class="submit">Get Started</b>
      </button>
      </a>
    </div>
  </body>
</html>
