<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/styles/global.css" />
    <link rel="stylesheet" href="/static/styles/questionss2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inika:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,700;1,700;1,800&display=swap"
    />
  </head>
  <body>
    <div class="questionss2">
      <div class="questionss2-child"></div>
      <i class="how-concerned-are"
        >How concerned are you about the judgments of others and your own
        self-judgment?</i
      >
      <div class="questionss2-item"></div>
      <i class="have-you-felt3"
        >Have you felt overly concerned about your physical appearance or how
        others perceive you?</i
      >
      <div class="questionss2-inner"></div>
      <div class="questionss2-child1"></div>
      <div class="questionss2-child2"></div>
      <div class="questionss2-child3"></div>
      <i class="do-you-experience1"
        >do you experience anger or resentment towards those close to you?</i
      >
      <div class="questionss2-child4"></div>
      <div class="questionss2-child5"></div>
      <div class="questionss2-child6"></div>
      <div class="questionss2-child7"></div>
      <div class="questionss2-child8"></div>
      <div class="questionss2-child9"></div>
      <i class="do-you-fear"
        >Do you fear being alone or experiencing abandonment in your
        relationships?</i
      >
      <i class="do-you-fear"
        >Do you fear being alone or experiencing abandonment in your
        relationships?</i
      >
      <div class="component-11">
        <div class="component-11-inner">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s13" />

            <div class="frame-child49"></div>
            <i class="yes13">Yes</i>
          </div>
        </div>
        <div class="component-11-child">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s13" />

            <div class="frame-child49"></div>
            <i class="yes13">NO</i>
          </div>
        </div>
      </div>
      <div class="component-12">
        <div class="component-11-inner">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s14" />

            <div class="frame-child49"></div>
            <i class="yes13">Yes</i>
          </div>
        </div>
        <div class="component-11-child">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s14" />

            <div class="frame-child49"></div>
            <i class="yes13">NO</i>
          </div>
        </div>
      </div>
      <div class="component-13">
        <div class="component-11-inner">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s15" />

            <div class="frame-child49"></div>
            <i class="yes13">Yes</i>
          </div>
        </div>
        <div class="component-11-child">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s15" />

            <div class="frame-child49"></div>
            <i class="yes13">NO</i>
          </div>
        </div>
      </div>
      <div class="component-15">
        <div class="component-11-inner">
          <div class="ellipse-parent23">
            <div class="frame-child60"></div>
            <div class="frame-child49"></div>
            <i class="yes13">Yes</i>
          </div>
        </div>
        <div class="component-11-child">
          <div class="ellipse-parent23">
            <div class="frame-child60"></div>
            <div class="frame-child49"></div>
            <i class="yes13">NO</i>
          </div>
        </div>
      </div>
      <div class="component-17">
        <div class="component-11-inner">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s18" />

            <div class="frame-child49"></div>
            <i class="yes13">Yes</i>
          </div>
        </div>
        <div class="component-11-child">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s18" />

            <div class="frame-child49"></div>
            <i class="yes13">NO</i>
          </div>
        </div>
      </div>
      <div class="component-18">
        <div class="component-11-inner">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s19" />

            <div class="frame-child49"></div>
            <i class="yes13">Yes</i>
          </div>
        </div>
        <div class="component-11-child">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s19" />

            <div class="frame-child49"></div>
            <i class="yes13">NO</i>
          </div>
        </div>
      </div>
      <div class="component-15">
        <div class="component-11-inner">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s17" />

            <div class="frame-child49"></div>
            <i class="yes13">Yes</i>
          </div>
        </div>
        <div class="component-11-child">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s17" />

            <div class="frame-child49"></div>
            <i class="yes13">NO</i>
          </div>
        </div>
      </div>
      <div class="component-14">
        <div class="component-11-inner">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s16" />

            <div class="frame-child49"></div>
            <i class="yes13">Yes</i>
          </div>
        </div>
        <div class="component-11-child">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s16" />

            <div class="frame-child49"></div>
            <i class="yes13">NO</i>
          </div>
        </div>
      </div>
      <i class="have-you-ever"
        >Have you ever felt suffocated by excessive love or affection from
        others?</i
      >
      <i class="do-you-struggle2"
        >Do you struggle with feelings of jealousy or bitterness towards
        others?</i
      >
      <i class="have-you-experienced2"
        >Have you experienced challenges in maintaining healthy boundaries in
        your relationships?</i
      >
      <div class="component-19">
        <div class="component-11-inner">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s20" />

            <div class="frame-child49"></div>
            <i class="yes13">Yes</i>
          </div>
        </div>
        <div class="component-11-child">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s20" />

            <div class="frame-child49"></div>
            <i class="yes13">NO</i>
          </div>
        </div>
      </div>
      <div class="component-20">
        <div class="component-11-inner">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s21" />

            <div class="frame-child49"></div>
            <i class="yes13">Yes</i>
          </div>
        </div>
        <div class="component-11-child">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s21" />

            <div class="frame-child49"></div>
            <i class="yes13">NO</i>
          </div>
        </div>
      </div>
      <div class="component-21">
        <div class="component-11-inner">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s22" />

            <div class="frame-child49"></div>
            <i class="yes13">Yes</i>
          </div>
        </div>
        <div class="component-11-child">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s22" />

            <div class="frame-child49"></div>
            <i class="yes13">NO</i>
          </div>
        </div>
      </div>
      <div class="component-22">
        <div class="component-11-inner">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s23" />

            <div class="frame-child49"></div>
            <i class="yes13">Yes</i>
          </div>
        </div>
        <div class="component-11-child">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s23" />

            <div class="frame-child49"></div>
            <i class="yes13">NO</i>
          </div>
        </div>
      </div>
      <div class="component-23">
        <div class="component-11-inner">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s24" />

            <div class="frame-child49"></div>
            <i class="yes13">Yes</i>
          </div>
        </div>
        <div class="component-11-child">
          <div class="ellipse-parent23">
            <input class="frame-child48" type="radio" name="s24" />

            <div class="frame-child49"></div>
            <i class="yes13">NO</i>
          </div>
        </div>
      </div>
      <i class="do-you-find1"
        >Do you find it difficult to express yourself clearly, whether in
        writing or verbal communication?</i
      >
      <i class="have-you-experienced3"
        >Have you experienced a constant fear of being out of control or lacking
        willpower?</i
      >
      <i class="do-you-feel"
        >Do you feel like you lack power or choice in certain situations?</i
      >
      <i class="are-you-attentive"
        >Are you attentive and receptive when others are expressing themselves
        to you?</i
      >
      <i class="how-often-do1"
        >How often do you feel listened to and understood in your interactions
        with others?</i
      >
      <button class="button2">
        <b class="submit2">Submit</b>
      </button>
    </div>
  </body>
</html>
